html {
  background-color: #FFFFFF;
  overscroll-behavior: contain; }
  html body {
    padding: 0px;
    margin: 0px; }

#main-canvas {
  display: block;
  background-color: grey;
  margin: auto; }

#controls {
  background-color: black;
  display: block;
  padding: 0;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; }
  #controls * {
    height: 100%;
    font-size: 2vh; }

