<div id="btn_group" class="modal" style="height: 90%; opacity: 0.5">
  <style>
      #btn_group button{
          width: 200px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          border-bottom-left-radius: 10px;    
          border-bottom-right-radius: 10px;
          border: 1px solid black;
          background-color: rgba(0,0,0,0);
          color: black;
      }
      #btn_group button:hover{
          color:black;
          background-color: #BDBDBD;
      }
  </style>

<p style="font-size:100px;  font-weight:bold; padding-bottom : -10px ; color : #000000"> Stellar-Fighter</p>
  
<button >
  <p style="font-size:20px; font-weight:bold; color : #000000"> Scores </p>
</button>
  <br><br>     
<button>  
  <a href="#" rel="modal:close">
   <p style = "font-size:20px; font-weight:bold; color : #000000"> Play</p>
  </a>
 </button>
</div>