$bgcolor: #FFFFFF;

html {
  background-color: $bgcolor;
  overscroll-behavior: contain;
  body {
    padding: 0px;
    margin: 0px;
  }
}

.stellar-canvas {
  display: block;
  background-color: grey;
  margin: auto;
}

.stellar-controls {
  background-color: black;
  display: block;
  padding: 0;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  button {
    background-color: black;
    color: white;
    border: 1px solid white;
  }
  * {
    height: 100%;
    font-size: 2vh;
  }
}

.stellar-button {
  font-weight: bold;
  font-size: 6vmin;
  width: 36vmin;
  border-top-left-radius: 10vmin;
  border-top-right-radius: 10vmin;
  border-bottom-left-radius: 10vmin;
  border-bottom-right-radius: 10vmin;
  border: 0.5vmin solid grey;
  color: grey;
  background-color: rgba(0,0,0,0);
  margin-left: 4vmin;
  margin-bottom: 2vmin;
  &:hover {
    color: black;
    background-color: #BDBDBD;
  }
}

.stellar-menu {
  h1 {
    font-size: 6vmin;
    text-align: center
  }
  button {
    opacity: 1;
    display: block;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid black;
    font-size: 4vmin;
    &:hover {
      background-color: #BDBDBD;
    }
  }
}
